# DATA 1202-01 Data Analysis Tools Analytics

## Final Project
### Student Name - Darshanbhai Avaiya
### Student ID - 100848457

In [1]:
#Import Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Import datset into pandas dataframe and print top 5 rows
data=pd.read_csv('survey.csv')
print(data.shape)
pd.set_option("display.max_columns",100)
data.head()

(1259, 27)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
#Check total number of null values in each column
data.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

## Data Transformation

In [4]:
#Check and print unique values of categorical variables
selected_columns=['Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence']

for i in range(0,len(selected_columns)):
    print(selected_columns[i]," : ",data[selected_columns[i]].unique())

Country  :  ['United States' 'Canada' 'United Kingdom' 'Bulgaria' 'France' 'Portugal'
 'Netherlands' 'Switzerland' 'Poland' 'Australia' 'Germany' 'Russia'
 'Mexico' 'Brazil' 'Slovenia' 'Costa Rica' 'Austria' 'Ireland' 'India'
 'South Africa' 'Italy' 'Sweden' 'Colombia' 'Latvia' 'Romania' 'Belgium'
 'New Zealand' 'Zimbabwe' 'Spain' 'Finland' 'Uruguay' 'Israel'
 'Bosnia and Herzegovina' 'Hungary' 'Singapore' 'Japan' 'Nigeria'
 'Croatia' 'Norway' 'Thailand' 'Denmark' 'Bahamas, The' 'Greece' 'Moldova'
 'Georgia' 'China' 'Czech Republic' 'Philippines']
state  :  ['IL' 'IN' nan 'TX' 'TN' 'MI' 'OH' 'CA' 'CT' 'MD' 'NY' 'NC' 'MA' 'IA' 'PA'
 'WA' 'WI' 'UT' 'NM' 'OR' 'FL' 'MN' 'MO' 'AZ' 'CO' 'GA' 'DC' 'NE' 'WV'
 'OK' 'KS' 'VA' 'NH' 'KY' 'AL' 'NV' 'NJ' 'SC' 'VT' 'SD' 'ID' 'MS' 'RI'
 'WY' 'LA' 'ME']
self_employed  :  [nan 'Yes' 'No']
family_history  :  ['No' 'Yes']
treatment  :  ['Yes' 'No']
work_interfere  :  ['Often' 'Rarely' 'Never' 'Sometimes' nan]
no_employees  :  ['6-25' 'More than 1000' '26-100' '100-500' '1-5' '500-1000']
remote_work  :  ['No' 'Yes']
tech_company  :  ['Yes' 'No']
benefits  :  ['Yes' "Don't know" 'No']
care_options  :  ['Not sure' 'No' 'Yes']
wellness_program  :  ['No' "Don't know" 'Yes']
seek_help  :  ['Yes' "Don't know" 'No']
anonymity  :  ['Yes' "Don't know" 'No']
leave  :  ['Somewhat easy' "Don't know" 'Somewhat difficult' 'Very difficult'
 'Very easy']
mental_health_consequence  :  ['No' 'Maybe' 'Yes']
phys_health_consequence  :  ['No' 'Yes' 'Maybe']
coworkers  :  ['Some of them' 'No' 'Yes']
supervisor  :  ['Yes' 'No' 'Some of them']
mental_health_interview  :  ['No' 'Yes' 'Maybe']
phys_health_interview  :  ['Maybe' 'No' 'Yes']
mental_vs_physical  :  ['Yes' "Don't know" 'No']
obs_consequence  :  ['No' 'Yes']

In [5]:
# Removing anomalies from "Age" columns
print(data['Age'].unique())
data.drop(data[data['Age']<0].index,inplace=True)
data.drop(data[data['Age']>100].index,inplace=True)
data['Age'].unique()

[         37          44          32          31          33          35
          39          42          23          29          36          27
          46          41          34          30          40          38
          50          24          18          28          26          22
          19          25          45          21         -29          43
          56          60          54         329          55 99999999999
          48          20          57          58          47          62
          51          65          49       -1726           5          53
          61           8          11          -1          72]

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55, 48,
       20, 57, 58, 47, 62, 51, 65, 49,  5, 53, 61,  8, 11, 72],
      dtype=int64)

In [6]:
# Transforming "leave" column
data.loc[(data['leave'].isin(['Somewhat easy','Very easy'])), "leave"] = "Easy"
data.loc[(data['leave'].isin(['Somewhat difficult','Very difficult'])), "leave"] = "Difficult"s

SyntaxError: invalid syntax (262539333.py, line 3)

## Data Visualization

In [ ]:
# Calculate percentage of data from each country
value_counts=pd.DataFrame(data['Country'].value_counts()[:10])
value_counts['Percentage']=round((value_counts['Country']*100)/(value_counts['Country'].sum()),2)
value_counts

In [ ]:
# Visualize top 10 country with maximum people with mental health illness
fig, ax = plt.subplots(figsize=(15, 6))
sns.barplot(x=value_counts.index,y='Percentage',data=value_counts)
plt.title("Top 10 countries with highest Percentage of people with mental health illness")

In [ ]:
#Visualize pie chart for "coworkers" column
fig,ax=plt.subplots(figsize=(5,5))
plt.title("willingness to discuss a mental health issue with coworkers")
plt.pie(data['coworkers'].value_counts(),labels=data['coworkers'].unique())
data['coworkers'].value_counts()

In [ ]:
plt.title("Employer takes mental health as seriously as physical health")
plt.hist(data['mental_vs_physical'],histtype='step')

In [ ]:
# Visualize frequency of "treatment" and "work_interfere" for overall data
plt.figure(figsize = (10,6))
sns.countplot(x =  'work_interfere', data = data, hue = 'treatment')
plt.show()

In [ ]:
# Define function to produce country wise visualization for different categorical variables
def country_viz(country_name,column_name, hue_column):
    country_data=data[data['Country']==country_name]
    plt.figure(figsize = (10,6))
    sns.countplot(x = column_name, data = country_data, hue = hue_column)
    return plt.show()

In [ ]:
# Define function to produce country wise pie chart for categorical variables
def country_pie_chart(country_name,column_name):
    country_data=data[data['Country']==country_name]
    plt.figure(figsize=(6,6))
    plt.pie(country_data[column_name].value_counts(),labels=country_data[column_name].unique())
    plt.title("''{0}'' for {1}".format(column_name,country_name))

In [ ]:
# Country Names: ['United States' 'Canada' 'United Kingdom' 'Bulgaria' 'France' 'Portugal'
# 'Netherlands' 'Switzerland' 'Poland' 'Australia' 'Germany' 'Russia'
# 'Mexico' 'Brazil' 'Slovenia' 'Costa Rica' 'Austria' 'Ireland' 'India'
# 'South Africa' 'Italy' 'Sweden' 'Colombia' 'Latvia' 'Romania' 'Belgium'
# 'New Zealand' 'Spain' 'Finland' 'Uruguay' 'Israel'
# 'Bosnia and Herzegovina' 'Hungary' 'Singapore' 'Japan' 'Nigeria'
# 'Croatia' 'Norway' 'Thailand' 'Denmark' 'Bahamas, The' 'Greece' 'Moldova'
# 'Georgia' 'China' 'Czech Republic' 'Philippines']

In [ ]:
# Categorical variables:['self_employed',
#       'family_history', 'treatment', 'work_interfere', 'no_employees',
#       'remote_work', 'tech_company', 'benefits', 'care_options',
#       'wellness_program', 'seek_help', 'anonymity', 'leave',
#       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
#       'supervisor', 'mental_health_interview', 'phys_health_interview',
#       'mental_vs_physical', 'obs_consequence']

In [ ]:
country_viz("Canada","work_interfere", "treatment")

In [ ]:
country_pie_chart("United States","leave")

# Write up about Analysis

> As we can see, data has many columns but there are some columns which are not relavent to the questions asked for this
project such as Timestamp, Gender, Comments etc. So, I did not consider that for Analysis.

> The problem I was facing during this project was about the selection of categorical variables and visualize it according to geographic locations.
>So, I have I have considered features like "leave", "treatment", "work_interference", "mental_vs_physical", and "coworkers" because these are most relavent variables for the analysis of frequency of mental illness varying by geographic locations. 
>>I have considered "Country" column as geographic location because state column has many null values and we can not impute those values.

> As we can see that there are many more columns which can be useful to analyse the frequency of mental illness. So, I have created to functions: one for bar chart and second for Pie chart. So, user can select any categorical variable and visualize it country wise for further analysis for any column.

> From my Analysis, I found that United states has the maximum number of employes facing mental health disorders in tech workplace followed by United Kingdom and then Canada.

> Moreover, from the histogram chart it is clear that most of tech employees do not know whether his/her employer takes mental health as seriously as physical health or not.

> In canada, Maximum number of people who are getting treatment for mental health disorder are facing work interference sometimes.